@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    font-family: 'Lato', sans-serif;
}
#search{
    display:flex;
    justify-content: space-between;
}

.form-group{
    justify-content:flex-end;
}

#search{
    background-color:#f1f1f1;
}

#hire{
    display:none;
}

#openForm{
    height:40px;
    width:40px;
    display:flex;
    justify-content:flex-end;
    border-radius:100%;
    border:0px;
    background-color:greenyellow;
    color:white;
    font-size:3vw;
    align-items:flex-end;
}

.newBtn{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

